#mainHeader
{
	width: 98%;
	margin: auto;
	margin-top: 0;
	padding: 10px;
	font-size: 2em;
	border-radius: 30px;
	display: inline-block;
	background-color: #2a3c61;
}

#mainH1
{
	float: right;
	text-align: left;
	font-family: 'Jim Nightshade', cursive;
	color: white;
	padding: 0 10px;
}
header img
{

	margin-top: 15px;
	float: left;
	width: 150px;
	height: 150px;
	border-radius: 100%;
}

.shadowStyle
{
	-webkit-box-shadow: 15px 15px 20px -6px black;
	-moz-box-shadow: 15px 15px 20px -6px black;
	box-shadow: 15px 15px 20px -6px black;
	background-color: #4c6cad;

}

#mainNav li
{
	list-style: none;
	font-size: 1em;
	font-family: 'Jim Nightshade', cursive;
	display: inline-block;
	padding: 10px;
	text-align: right;
}

#mainNav
{
	width:50%;
	border-radius: 30px;
	margin-top: 50px;
	padding-left: 10%;
	padding-right: 0;
}

#mainNav li a
{
	text-decoration: none;
	color: white;
	padding-right: 10px;
}

#mainNav ul
{
	padding-right: 0;
}

#leftDiv
{
	display: inline-block;
	width: 70%;
}

#rightDiv
{
	font-family: 'Marck Script', cursive;
	background-color: #Fff;
	text-align: center;
	border: 3px solid #2a3c61;
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
	width: 20%;
	float: right;
	padding-right: 20px;
}
#rightDiv h1
{
	color: white;
	background-color: #2a3c61;
	border-radius: 10px;
}
#rightDiv li
{
	padding: 20px 0;
	border-bottom: 1px solid black;
	list-style: none;
}

#rightDiv a
{
	text-decoration: none;
	color: black;
}

#mainFooter
{
	position: relative;
	bottom: 0;
	clear: both;
	width: 100%;
	margin:10px auto 0 auto;
	border-radius: 10px;
	padding: 10px 0;
	text-align: center;
	font-family: 'Jim Nightshade', cursive;
	font-size: 1.5em;
	background-color: #2a3c61;
	color: white;
}

.weeklyArticles
{
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px;
	background-color: #fff;
	border: 3px solid #2a3c61;
	font-family: 'Marck Script', cursive;
}
.weeklyArticles h1
{
	color: white;
	text-align: center;
	width: 30%;
	border-radius: 10px;
}